{{!
Це код container файлу для index сторінки,
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/"
}}
class="nav">1.2.<a href="/2" target="_blank">--Зміна значення елемента</a></div>
<div class="nav">1.3.<a href="/3" target="_blank">--Повно-екранний режим</a></div>
<div class="nav">1.4.<a href="/4" target="_blank">--Форма</a></div>
<div class="nav">1.5.<a href="/5" target="_blank">--Поле вводу</a></div>
<div class="nav">1.6.<a href="/6" target="_blank">--Перемикання details</a></div>
<div class="nav">1.7.<a href="/7" target="_blank">--Стан мережі (25:20)</a></div>
<div class="nav">1.8.<a href="/8" target="_blank">--Стан завантаження (27:25)</a></div>
<div class="nav">1.9.<a href="/9" target="_blank">--Стан сторінки (31:33)</a></div>
<hr>
<div class="nav">1.10.drag<a href="/drag" target="_blank">--Перетягування (36:00)</a> </div>
<div class="nav">1.11.clipboard<a href="/clipboard" target="_blank">--Буфер обміну(41:50)</a></div>
<div class="nav">1.12.hash<a href="/hash" target="_blank">--Зміна якоря (43:40)</a></div>
<div class="nav">1.13.popstate<a href="/popstate" target="_blank">--Зміна історії (45:52)</a> </div>
<div class="nav">1.14.focus<a href="/focus" target="_blank">--Фокус користувача (49:30)</a> </div>
<hr>
<div class="nav">2.1.key<a href="/key" target="_blank">--Введення з клавіатури(0:43</a>)</div>
<div class="nav">2.2.mouse<a href="/mouse" target="_blank">--Взаємодія з мишкою (7:10)</a></div>
<div class="nav">2.3.pointer<a href="/pointer" target="_blank">--Взаємодія з показчиком (14:05)</a></div>
<div class="nav">2.4.input <a href="/input" target="_blank">--Введення даних (21:28)</a></div>

<div class="nav">2.5.page-transition<a href="/page-transition" target="_blank">--Зміна видимості сторінки
        (25:17)</a>
</div>
<div class="nav">2.6.wheel<a href="/wheel" target="_blank">--Прокручування колеса миші (28:35)</a></div>
<div class="nav">2.7.transition<a href="/transition" target="_blank">--CSS-перехід (29:58)</a></div>
<div class="nav">2.8.touch<a href="/touch" target="_blank">--Взаємодія з сенсорним пристроєм</a></div>

<hr>
Відео к уроку:
<div class="nav">1.<a href="https://youtu.be/puV46bDISbo" target="_blank">Типи подій частина 1</a>
</div>
<div class="nav">2.<a href="https://www.youtube.com/watch?v=-G0zCfgChTs" target="_blank">Типи подій
        частина 2</a>
</div>

</nav>



</main>









{{!
Цей код містить лише те, що буде виводитись в

<body>
    Адже наш layout/default.hbs має вже структуру HTML
    }}