{{!
Це код container файлу для index сторінки,
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/"
}}

<main class="page">

    Hello world. Тип події:
    <nav>
        <div class="nav"><a href="/1" target="_blank">1.Друк сторінки</a></div>
        <div class="nav"><a href="/2" target="_blank">2.Зміна значення елемента</a></div>
        <div class="nav"><a href="/3" target="_blank">3.Повно-екранний режим</a></div>
        <div class="nav"><a href="/4" target="_blank">4.Форма</a></div>
        <div class="nav"><a href="/5" target="_blank">5.Поле вводу</a></div>
        <div class="nav"><a href="/6" target="_blank">6.Перемикання details</a></div>
        <div class="nav"><a href="/7" target="_blank">7.Стан мережі (25:20)</a></div>
        <div class="nav"><a href="/8" target="_blank">8.Стан завантаження (27:25)</a></div>
        <div class="nav"><a href="/9" target="_blank">9.Стан сторінки (31:33)</a></div>
        <hr>
        <div class="nav"><a href="/drag" target="_blank">10.drag (36:00)</a></div>
        <div class="nav"><a href="/clipboard" target="_blank">11.clipboard (41:50)</a></div>
        <div class="nav"><a href="/hash" target="_blank">12.hash (43:40)</a></div>
        <div class="nav"><a href="/popstate" target="_blank">13.popstate (45:52)</a></div>
        <div class="nav"><a href="/focus" target="_blank">14.focus (49:30)</a></div>
        <hr>
        <div class="nav"><a href="/input" target="_blank">input</a></div>
        <div class="nav"><a href="/key" target="_blank">key</a></div>
        <div class="nav"><a href="/mouse" target="_blank">mouse</a></div>
        <div class="nav"><a href="/page-transition" target="_blank">page-transition</a></div>
        <div class="nav"><a href="/pointer" target="_blank">pointer</a></div>
        <div class="nav"><a href="/touch" target="_blank">touch</a></div>
        <div class="nav"><a href="/wheel" target="_blank">wheel</a></div>
    </nav>

    <div>
        Відео к уроку:
        <a href="https://youtu.be/puV46bDISbo" target="_blank">Типи подій частина 1</a>
    </div>


</main>





{{!
Цей код містить лише те, що буде виводитись в

<body>
    Адже наш layout/default.hbs має вже структуру HTML
    }}